@model List<Movie>
@{
	ViewData["Title"] = "Movies";
}

<h2>
	<i class="bi bi-film"></i> Movies
</h2>
<hr />

<a class = "btn btn-primary" asp-action="Create"> <i class="bi bi-plus"></i> Add New Movie</a>

<br />

<div class = "mt-4">

	@if (!Model.Any())
	{
			<div class="alert alert-warning" role="alert">
			  There is No Movies yet !!
			</div>
	}
	else
	{
			<ul>
					@foreach (var movie in Model)
					{
						<li>
							@movie.Title
						</li>
					}
		   </ul>
	}
</div>
